@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    cursor: default;
    color: white;
}
html, body{
    height: 100%;
    width: 100%;
}
.page1{
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: #111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.page1 h1{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 8vw;
    height: 8vw;
}
.page1 h1 span{
    /* background-color: red; */
    text-align: center;
    margin: 0;
    /* padding-bottom: 30px; */
    /* position: absolute; */
}
.page1 h1 span i{
    font-size: 3vw;
    position: relative;
    bottom: 25px;
    height: 7vw;
    width: 7vw;
    border-radius: 50%;
    padding-top: 30px;
    background-color: #0ba34e;
    text-align: center;
    font-weight: 600;
    z-index: 0;
}
.page1 p{
    text-align: center;
    width: 50vw;
    margin-top: 8vh;
    font-weight: 400;
}
#pg1-des-exp{
    display: flex;
    align-items: center;
    justify-content: center;
}
#pg1-des-exp h4:nth-child(3){
    border: none;
    padding: 2px;
}
#pg1-des-exp h4{
    font-size: 1vw;
    font-weight: 300;
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 50px;
    margin-top: 10px;
}
nav{
    position: fixed;
    display: flex;
    height: 12vh;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    background-color: #111;
    padding: 2vw 10.4vw;
    z-index: 9999;
    /* background-color: rgb(0, 255, 174); */
}
.nav-pt2{
    display: flex;
    align-items: flex-start;
    padding: 1vh 0;
    gap: 2vw;
    position: relative;
    z-index: 999;
}
.nav-pt2 h4{
    font-size: 0.8vw;
    cursor: pointer;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 2.3vw;
}
.nav-pt2 h5{
    margin-bottom: 1vw;
    /* background-color: red; */
    display: none;
    color: white;
    overflow: hidden;
}
.nav-pt2 h5 span{
    font-size: .85vw;
    /* background-color: green; */
    cursor: pointer;
    font-weight: 300;
    display: inline-block;
    transform: translateY(25px);
}
.nav-bottom{
    /* background-color: red; */
    position: absolute;
    height: 0%;
    width: 80%;
    bottom: 0%;
    z-index: 100;
    border-bottom: 2px solid #dadada;
    transition: all ease 0.65s;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2vw 15vw;
    padding-left: 18.5vw;
    padding-top: 3vw;
    /* z-index: 999; */
}
.bottom-div h5{
    /* background-color: red; */
    margin-bottom: 0.4vw;
    overflow: hidden;
}
.bottom-div{
    margin-top: 2vw;
}
.bottom-div h5 span{
    font-size: 0.8vw;
    font-weight: 500;
    display: inline-block;
    opacity: 0;
}
nav h1{
    cursor:default;
}
nav button{
    background-color: #0ba34e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    font-size: .85vw;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    padding: 12px 14px;
    border-radius: 50px;
}
nav button svg{
    height: .85vw;
    margin-left: 1.5vw;
}
nav:hover .nav-bottom{
    height: 150%;
    bottom: -150%;
    background-color: #111;
    /* z-index: 9999; */
}
#nav-bottom{
    height: 0vh;
    width: 80%;
    /* background-color: red; */
    z-index: 9;
    position: absolute;
    top: 100%;
    background-color: #111;
    border-bottom: 1px solid white;
}
#moving-div{
    /* background-color: red; */
    position: absolute;
    width: 44%;
    white-space: nowrap;
    padding: 1.2vw;
    bottom: 5%;
    overflow: hidden;
}
#moving-div .move{
    display: inline-block;
    animation-name: moveAnim;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 10s;
}
#moving-div .move img{
    height: 1.2vw;
    margin: 0 1.2vw;
}
@keyframes moveAnim {
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
}
#blur-left{
    height: 100%;
    width: 20%;
    background: linear-gradient(to right, #111, transparent);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}
#blur-right{
    height: 100%;
    width: 20%;
    background: linear-gradient(to right, transparent, #111);
    position: absolute;
    top: 0;
    right: 0;
}
.page2{
    height: 100vh;
    width: 100%;
    position: relative;
    padding: 0vw 10.5vw;
    padding-bottom: 8vw;
    border-top: 1px solid #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    background-color: #111;
}
.page2-left{
    height: 100%;
    width: 40%;
    padding: 3vw 0;
    /* background-color: #333; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.page2-left p{
    font-size: .9vw;
}
.page2-left h5{
    font-size: 1.1vw;
    width: 75%;
    font-weight: 400;
}
.page2-right{
    height: 100%;
    width: 50%;
    /* background-color: #333; */
}
.right-elem{
    position: relative;
    /* background-color: red; */
    padding-top: 2vw;
    padding-bottom: 5vw;
    border-bottom: 1px solid #333;
}
.right-elem h2{
    font-size: 1.4vw;
    font-weight: 400;
}
.page2-right .right-elem img{
    height: 7vw;
    width: 7vw;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    opacity: 0;
    scale: 0;
}
.page3{
    height: 100vh;
    width: 100%;
    background-image: url(https://lazarev.kiev.ua/la24/reel-cover.webp);
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111;
}
.page3-center{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    padding: 1vw;
    align-items: center;
}
.page3-center .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4vw;
    border-radius: 50%;
    background-color: white;
}
.page3-center .icon i{
    color: black;
    font-size: 2.8vw;
}
.page3-center h5{
    font-size: .8vw;
    background-color: white;
    color: black;
    border-radius: 50px;
    margin-top: 1vw;
    padding: 12px 26px 10px 26px;
    font-weight: 700;
    transition: all ease .5s;
    transform: translateY(16%);
    text-transform: uppercase;
    opacity: 0;
}
.page3-center:hover h5{
    opacity: 1;
    transform: translateY(0%);
}
.page3 video{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: scaleX(.7) scaleY(0);
    opacity: 0;
    border-radius: 30px;
    z-index: 10000;
}
.page4{
    height: 100vh;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5vw 0vw;
}
.page4 .pg4left{
    /* background-color: red; */
    height: 100%;
    width: 30vw;
    padding: 0 2vw;
}
.page4 .pg4left h2{
    text-transform: capitalize;
    color: black;
    font-size: 3vw;
    font-weight: 600;
    line-height: 3.5vw;
}
.page4 .pg4right{
    /* background-color: blue; */
    height: 100%;
    width: 40vw;
    display: flex;
    justify-content: flex-start;
    gap: 2vw;
    flex-direction: column;
}
.page4 .pg4right h4{
    text-transform: uppercase;
    font-weight: 400;
    color: rgba(1, 1, 1, 0.555);
}
.page4 .pg4right p{
    color: black;
    font-size: 1.3vw;
}
.page5{
    height: 80vh;
    width: 100%;
    /* background-color: red; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2vw 3vw;
    gap: 1vw;
    }
.page5 .box{
    background-color: #f5f5f5;
    height: 30vh;
    width: 100%;
    border-radius: 5px;
    margin:auto;
    padding: 2vw 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

}
.page5 .box h1{
        color: black;
        font-size: 3vw;
        font-weight: 600;
}
.page5 .box p{
    color: rgba(0, 0, 0, 0.768);
    font-size: .9vw;
}
.page6{
    position: relative;
    min-height: 100vh;
    width: 100%;
    padding-bottom: 13vh;
    background-color: white;
}
.section{
    width: 100%;
    height: 78vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15vh 10vw;
    padding-bottom: 0;
}
.sec-left{
    padding-top: 3vh;
    height: 80vh;
    width: 25%;
    /* background-color: red; */
    border-top: 2px solid black;
}
.sec-left h2{
    font-size: 2.1vw;
    font-weight: 500;
    color: black;
}
.sec-left p{
    color: black;
    margin-top: 10vh;
    font-size: 1.1vw;
    /* width: 80%; */
}
.sec-right{
    height: 70vh;
    transform: translateY(-8%);
    /* background-color: blue; */
    width: 70%;
    position: relative;
}
.sec-right img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.sec-right video{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    object-fit: cover;
    transition: opacity ease 0.3s;
}
.page-7{
    min-height: 100vh;
    width: 100%;
    background-color: #111;
    position: relative;
    padding: 5vh 10.5vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.page-7 button{
    background-color: #0ba34e;
    padding: 0.9vw 2.5vw;
    border-radius: 50px;
    border: none;
    font-weight: 600;
    font-size: 1vw;
    position: sticky;
    top: 15%;
}
.pg7-right{
    width: 70%;
}
.pg7-right>p{
    font-size: 2.1vw;
}
.pg7-right>p span{
    /* background-color: red; */
    width: 12vw;
    display: inline-block;
}
.pg-7content{
    width: 100%;
    /* background-color: red; */
    margin-top: 5vh;
    padding: 5vh 0;
    
    user-select: none;
}
.pg-7content h1{
    font-size: 3vw;
    font-weight: 500;
}
.pg-7content .flex{
    display: flex;
    margin-top: 4vh;
    margin-bottom: 4vh;
    
}
.pg-7content .flex h4{
    border: 1px solid white;
    border-radius: 50px;
    padding: 10px 20px;
    font-weight: 400;
    font-size: .8vw;
}
.pg7elem{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* background-color: red; */
    padding-top: 3vh;
    padding-bottom: 9vh;
    position: relative;
    overflow: hidden;
    border-top: 1px solid #1f1f1f;
    transition: 1s cubic-bezier(0.19, 1, 0.22, 1) all;
}
.pg7elem p{
    font-size: .8vw;
    width: 55%;
    position: relative;
    z-index: 8;
}
.pg7elem h3{
    font-size: 1.6vw;
    font-weight: 400;
    position: relative;
    z-index: 8;
    transition: 1s cubic-bezier(0.19, 1, 0.22, 1) all;
}
.pg7elem i{
font-size: 1vw;
    position: relative;
    z-index: 8;
    transition: 1s cubic-bezier(0.19, 1, 0.22, 1) all;
}
.over{
    height: 100%;
    width: 100%;
    background-color: #1f1f1f;
    position: absolute;
    top: 0;
    transform: translateY(-100%);
    opacity:0;
    transition: 1s cubic-bezier(0.19, 1, 0.22, 1) all;
}
.pg7elem:hover h3{
    padding-left: 1vw;
}
.pg7elem:hover i{
    padding-right: 1vw;
}
.pg7elem:hover .over{
    transform: translateY(0);
    opacity: 1;
}
.pg7elem:hover{
    border-top: 2px solid #dadada;
}
summary::marker{
    content: "";
}
.uiux{
    border-top: 1px solid #333;
    padding: 3vh 0;
}
.product{
    border-top: 1px solid #333;
    padding: 3vh 0;    
}
.arrow{
    /* background-color: red; */
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.active{
    transform: rotate(180deg);
}
/*complete page 7 list open close icon tag*/
.page8{
    min-height: 100vh;
    width: 100%;
    background-color: white;
    padding: 10vh 10vw;
}
.page8>h1{
    font-size: 5vw;
    padding-left: 23vw;
    padding-right: 5vw;
    line-height: 5.8vw;
    color: black;
    /* background-color: red; */
    padding-bottom: 10vh;
    border-bottom: 2px solid #dadada;
}
.page8-content{
    /* background-color: red; */
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 2vw;
}
.page8-content .right-8{
    width: 70%;
}
.page8-content .right-8 p{
    color: black;
    font-size: 1.5vw;
    margin-bottom: 5vh;
    width: 80%;
}
.blue-btn{
    background-color: #4f5bff;
    width: 15vw;
    height: 3.5vw;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.blue-btn h4{
    position: absolute;
    font-weight: 600;
    font-size: .85vw;
}
.blue-btn h4 i{
    font-weight: 100;
    font-size: 1.1vw;
    margin-left: .5vw;
}
.bottom-8{
height: 45vh;
width: 100%;
/* background-color: rgb(68, 62, 62); */
border-top: 1px solid #dadada;
display: flex;
align-items: flex-start;
justify-content: center;

}
.btm8-p1{
    border-right: 1px solid #dadada;
    width: 30%;
    height: 100%;
    /* background-color: red; */
}
.btm8-p2{
    border-right: 1px solid #dadada;
    width: 28%;
    height: 100%;
    /* background-color: red; */
}
.btm8-p3{
    border-right: 1px solid #dadada;
    width: 15%;
    height: 100%;
    /* background-color: red; */
}
.btm8-p4{
    border-right: 1px solid #dadada;
    width: 15%;
    height: 100%;
    /* background-color: red; */
}
.btm8-p5{
    width: 15%;
    height: 100%;
    /* background-color: red; */
}
.btm8pts{
    padding: 3vh .6vw;
}
.btm8pts h5{
    color: black;
    font-weight: 500;
    font-size: .9vw;
    margin-bottom: 4vh;
}
.btm8pts h4{
    background-color: black;
    color: white;
    width: 75%;
    font-size: .85vw;
    display: flex;
    align-items: center;
    font-weight: 500;
    border-radius: 50px;
    padding: 5px 10px;
    margin-bottom: .3vh;
}
.btm8pts span{
    background-color: #333;
    color: white;
    padding: .5vw;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5vw;
    height: 1.5vw;
    margin-right: 1vw;
}
.btm8-p2 h4:nth-child(2){
    transform: translateX(0);
}
.btm8-p2 h4:nth-child(3){
    transform: translateX(10%);
}
.btm8-p2 h4:nth-child(4){
    transform: translateX(20%);
}
.btm8-p2 h4:nth-child(5){
    transform: translateX(30%);
}
.btm8-p2 h4:nth-child(6){
    transform: translateX(40%);
}
.btm8-p2 h4:nth-child(7){
    transform: translateX(50%);
}
.page-9{
    height: 100vh;
    background-color: black;
}
/*fix moving div*/
